<article id="home" class="container">

  <section id="introduction" class="jumbotron" style="background: url('<%= @document['homepage.image'] ? @document['homepage.image'].get_view('large').url : '' %>') no-repeat center top">
    <h1><%= @document['homepage.name'] ? @document['homepage.name'].as_text : '' %> - <%= @document['homepage.tagline'] ? @document['homepage.tagline'].as_text : '' %></h1>
    <p class="dateplace"><%= @document['homepage.dateplace'] ? @document['homepage.dateplace'].as_text : '' %></p>
    <div class="row">
      <div class="col-sm-8">
        <div class="description">
          <%= @document['homepage.description'] ? @document['homepage.description'].as_html_safe(link_resolver(maybe_ref)) : '' %>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="cta">
          <%= link_to (@document['homepage.cta_label'] ? @document['homepage.cta_label'].as_text : ''), @document['homepage.cta_link'].url(link_resolver(maybe_ref)), :class => "btn btn-primary btn-lg", :role => "button" %>
        </p>
      </div>
    </div>
  </section>

  <h2 id="speakerstitle"><%= @document['homepage.speakers_title'] ? @document['homepage.speakers_title'].as_text : '' %></h2>
  <section class="row speakers centeredfluidimage">
    <% @speakers.each_with_index do |speaker, i| %>
      <div class="col-sm-2 <%= i==0 ? 'col-sm-offset-1' : '' %>">
        <a href="<%= link_resolver(maybe_ref).link_to(speaker) %>">
          <img src="<%= speaker['speaker.photo'].get_view("full").url %>" alt="<%= speaker['speaker.full_name'] ? speaker['speaker.full_name'].as_text : '' %>">
          <p><%= speaker['speaker.full_name'] ? speaker['speaker.full_name'].as_text : '' %></p>
        </a>
      </div>
    <% end %>

    <% if (@speakerlink && @speakerlink['footerlinks.link'] && @speakerlink['footerlinks.label']) %>
      <div class="col-sm-2">
        <a href="<%= @speakerlink['footerlinks.link'].url(link_resolver(maybe_ref)) %>">
          <img src="http://dummyimage.com/165x165/fafafa/000000&text=%3F">
          <p><%= @speakerlink['footerlinks.label'].as_text %></p>
        </a>
      </div>
    <% end %>

  </section>

  <h2 id="sponsorstitle"><%= @document['homepage.sponsors_title'] ? @document['homepage.sponsors_title'].as_text : '' %></h2>
  <section class="row sponsors">
    <h3><%= @document['homepage.gold'] ? @document['homepage.gold'].as_text : 'Gold' %></h3>
    <ul class="list-inline">
      <% @gold_sponsors.each do |gold| %>
        <% if gold['sponsor.logo'] %>
          <li>
            <%= gold['sponsor.link'] ? "<a href=\"#{gold['sponsor.link'].url(link_resolver(maybe_ref))}\">".html_safe : '' %>
              <img src="<%= gold['sponsor.logo'].get_view('large').url %>" alt="<%= gold['sponsor.name'] ? gold['sponsor.name'].as_text : '' %>">
            <%= gold['sponsor.link'] ? "</a>".html_safe : '' %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <h3><%= @document['homepage.silver'] ? @document['homepage.silver'].as_text : 'Silver' %></h3>
    <ul class="list-inline">
      <% @silver_sponsors.each do |silver| %>
        <% if silver['sponsor.logo'] %>
          <li>
            <%= silver['sponsor.link'] ? "<a href=\"#{silver['sponsor.link'].url(link_resolver(maybe_ref))}\">".html_safe : '' %>
              <img src="<%= silver['sponsor.logo'].get_view('regular').url %>" alt="<%= silver['sponsor.name'] ? silver['sponsor.name'].as_text : '' %>">
            <%= silver['sponsor.link'] ? "</a>".html_safe : '' %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <h3><%= @document['homepage.bronze'] ? @document['homepage.bronze'].as_text : 'Bronze' %></h3>
    <ul class="list-inline bronze">
      <% @bronze_sponsors.each do |bronze| %>
        <li>
          <%= bronze['sponsor.link'] ? "<a href=\"#{bronze['sponsor.link'].url(link_resolver(maybe_ref))}\">".html_safe : '' %>
            <%= bronze['sponsor.name'] ? bronze['sponsor.name'].as_text : '' %>
          <%= bronze['sponsor.link'] ? "</a>".html_safe : '' %>
        </li>
      <% end %>
    </ul>
    <% if (@document['homepage.sponsor_cta_label'] && @sponsorlink && @sponsorlink['footerlinks.link']) %>
      <p>
        <%= link_to @document['homepage.sponsor_cta_label'].as_text, @sponsorlink['footerlinks.link'].url(link_resolver(maybe_ref)), :class => "btn btn-default", :role => "button" %>
      </p>
    <% end %>
  </section>

</article>