<article id="schedule" class="container">

   <%= render partial: "article", object: @document %>

   <% @sorted_sessions_by_day.keys.sort.each do |date| %>

  <h2><%= date.to_time.strftime("%A %B %-dth %Y") %></h2>

  <div class="row day">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <ul class="list-group">
        <% @sorted_sessions_by_day[date].each_with_index do | session_obj, i | %>
          <li class="list-group-item">
            <a href="<%= talk_path(id: session_obj[:document].id, slug: session_obj[:document].slug, maybe_ref: maybe_ref) %>">
              <div class="row">
                <div class="col-sm-2 col-xs-6 time">
                  <strong>
                    <%= session_obj[:beginning].to_time.strftime("%l.%M%P").gsub(/\.00/, '') %>
                    -
                    <%= session_obj[:end].to_time.strftime("%l.%M%P").gsub(/\.00/, '') %>
                  </strong>
                </div>
                <div class="col-sm-3 col-xs-6 photo centeredfluidimage">
                  <% if session_obj[:speakers].length % 2 != 0 %>
                    <img src="<%= session_obj[:speakers][0]['speaker.photo'] ? session_obj[:speakers][0]['speaker.photo'].get_view('full').url : "http://dummyimage.com/165x165/eeeeee/eeeeee&text=%E2%98%BB" %>" alt="session_obj[:speakers][0]['speaker.full_name'].as_text">
                  <% else %>
                    <img src="<%= session_obj[:speakers][0]['speaker.photo'] ? session_obj[:speakers][0]['speaker.photo'].get_view('half').url : "http://dummyimage.com/165x165/eeeeee/eeeeee&text=%E2%98%BB" %>" alt="session_obj[:speakers][0]['speaker.full_name'].as_text" class="double"><!--
                    --><img src="<%= session_obj[:speakers][1]['speaker.photo']? session_obj[:speakers][1]['speaker.photo'].get_view('half').url : "http://dummyimage.com/165x165/eeeeee/eeeeee&text=%E2%98%BB" %>" alt="session_obj[:speakers][1]['speaker.full_name'].as_text" class="double">
                  <% end %>
                </div>
                <div class="col-sm-7 col-xs-12 titlename">
                  <h4><%= session_obj[:document].first_title %></h4>
                  <p class="name">
                    by
                    <%=
                      session_obj[:speakers].select{|speaker|
                        speaker['speaker.full_name']
                      }.map{ |speaker|
                        speaker['speaker.full_name'].as_text + (speaker['speaker.title'] && session_obj[:speakers].length <2 ? ', '+speaker['speaker.title'].as_text : '')
                      }.join(" & ".html_safe)
                    %>
                  </p>
                  <% if session_obj[:venue]['venue.name'] %>
                    <p class="venue">at <%= session_obj[:venue]['venue.name'].as_text %></p>
                  <% end %>
                  <%= session_obj[:document]['session.catcher'] ? session_obj[:document]['session.catcher'].as_html_safe(link_resolver(maybe_ref)) : '' %>
                </div>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% end %>

</article>