<article id="venues" class="container">

  <%= render partial: "article", object: @document %>

  <div id="map">
    <h4>Loading map&hellip;</h4>
    <p class="photo"><%= image_tag "ajax-loader.gif" %></p>
  </div>

  <section class="row">
    <% @venues.each do |venue| %>
      <div class="col-sm-6 venue" id="venue.id">
        <h3><%= venue.first_title %></h3>
        <p class="centeredfluidimage">
          <%= image_tag (venue['venue.photo'] ? venue['venue.photo'].get_view('regular').url : "http://dummyimage.com/555x165/eeeeee/eeeeee") %>
        </p>
        <div class="description">
          <%= venue['venue.description'] ? venue['venue.description'].as_html_safe(link_resolver(@maybe_ref)) : '' %>
        </div>
        <p class="address">
          <% full_address = "#{venue.first_title}, #{venue['venue.address'] ? venue['venue.address'].value : ''}, #{venue['venue.city'] ? venue['venue.city'].value : ''}" %>
          <a href="http://maps.google.com/?q=<%= full_address %>" target="_blank">
            <span class="addressOnMap"><%= full_address %></span>
            <span class="glyphicon glyphicon-new-window"></span>
          </a>
        </p>
      </div>
    <% end %>
  </section>

</article>